*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(70, 70, 70);
}

.button {
    width: 600px;
    height: 100px;
    display: flex;
    background-color: rgb(252, 207,120);
    box-shadow: rgb(252 207 120 / 28%) 0 0 30px 10px;
    border-radius: 460px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Courier New', monospace;
    font-size: 30px;
}

.button:hover{
    text-decoration: underline;
    background-color: rgb(154, 230, 174);
    box-shadow: rgb(154, 230, 174, 28%) 0 0 30px 10px;
}

.message {
    font-size: 100px;
    cursor: default;
}

.message-success {
    color: #00ff00;
}

.message-error {
    color: #a90000ab;
}

.hidden {
    display: none;
}